<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Probably the best app in the world</title>
</head>

<body>
  <div class="login">
    <h1>Wprowadź parametry:</h1>

    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="HouseAge" placeholder="wiek budynku w latach" required="required" size="60" /><br>
      <input type="text" name="AveRooms" placeholder="ilość pokoi w mieszkaniu" required="required" size="60" /><br>
      <input type="text" name="Population" placeholder="ilość mieszkańców w budynku" required="required"
        size="60" /><br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Sprawdź</button>
    </form>

  </div>
  {{prediction_text}}

</body>

</html>